* {
	font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

.highlighted-section {
	outline: 2px solid #3f20fb;
	background-color: rgba(63, 32, 251, 0.1);
}

.edit-button {
	position: absolute;
	z-index: 1000;
}
